* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Google fonts */
.neonderthaw-regular {
  font-family: "Neonderthaw", cursive;
  font-weight: 400;
  font-style: normal;
}

.section {
    height: 100vw;
    width: auto;
}

.neon-orange {
  color: #FFAD4E;
  text-shadow: 0 0 1px #ff006f,
  0 0 2px #ff006f;
}

.neon-pink {
  color: #ff006f;
}