* {
    border: 1px;
    border-color: red;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: #EDEDE7;

    width: 100%;
    height: 100%;
}


.splash-regular {
  font-family: "Splash", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-size: 150px;
    text-align: center;
}

#accent-left {
    position: absolute;
    
    top: 0px;
    left: 15px;

    width: 50vh;

}

#accent-right {
    position: absolute;
    
    top: 0px;
    right: 15px;

    width: 50vh;

}