* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Google fonts */
.splash-regular {
    font-family: "Splash", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    background: #EDEDE7;
}

/* Landing */
.landing {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(Media/godefroy-boutet-unsplash-cropped.jpg);
}

.landing img {
box-sizing: border-box;

position: absolute;
width: 546px;
height: 546px;

border: 10px dashed #EDEDE7;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 1000px;

}


.landing h1 {
    color: white;
}

