* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #EDEDE7;
}

.splash-regular {
    font-family: "Splash", cursive;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 150px;
    text-align: center;
}

#accent-left {
    position: absolute;

    top: 0px;
    left: 15px;

    width: 35%;

}

#accent-right {
    position: absolute;

    top: 0px;
    right: 15px;

    width: 35%;

}