html {
  scroll-behavior: smooth;
}

* {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: "Numans";
    
    /* Delete comment for debug*/
    /*border: red 2px;
    border-style: solid;*/
}

body {
  background-color: #DDD9BD;
}
/* Google fonts */
.neonderthaw-regular {
  font-family: "Neonderthaw", cursive;
  font-weight: 400;
  font-style: normal;
}

.numans-regular {
  font-family: "Numans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section {
    height: 100vh;
    width: 100vw;
    background-color: #DDD9BD;
}

.neon {
  color: #FFAD4E;
  text-shadow: 0 0 3px #ff006f,
  0 0 10px #ff006f;
}

/*How to code this was genuinely the worst thing I've ever done it made me wanna cry omg LMFAO*/
#Splash {
  background-image: url(Media/Amalie\ Collage.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  align-content: center;
}

#Splash h1 {
  /* Clamp function syntax: Min size, preferred size, max size. +1 rem is so that it can be zoomed for accessability.*/
  font-size: clamp(80%, 6vw + 1rem, 95vw);
  text-wrap: nowrap;
  text-align: center;
  margin: auto;
  padding: 0px 1rem;
}

#Avatar {
  border: white;
  border-style: solid;
  border-radius: 100%;
  width: 25vw;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-right: 50px;
}

.socials {
  display: flex;
  justify-content: space-evenly;
}

.socials img {
  height: auto;
  width: 33%; 
}

#AboutMe {
  display: grid;
  grid-template-columns: 55% auto;
}

#Blog {
  display: grid;
  grid-template-columns: auto 55%;
}

.section {
  background-color: #000;
  color: white;
  font-family: "Numans";
  text-align: center;
}

.section h2 {
  font-size: 5rem;
  margin: 10% 5% 5% 5%;
}

.section p {
  font-size: 1.5rem;
  margin: 1% Min(10%, 20%);
}

.button {
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  display: block;
  color: #000;
  background-color: white;
  border: white 10px;
  width: 25%;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 150%;
}

.button:hover {
  background-color: #DDD9BD;
  transition-duration: 1s;
}

.section-image {
  background-color: #DDD9BD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-image img {
  width: 60%;
}

.section-text {
  justify-content: center;
  align-items: center;
}

#Gallery {
  background-image: url(Media/Gallery\ Background.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

#Gallery h2 {
  margin-top: 7.5%;
}

.navbar {
  width: 100vw;
  height: 10vh;
  background-color: #1E1E1E;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
}

.navbar a,ul,li,h2 {
  display: block;
  text-decoration: none;
}

.navbar a {
    color: white;
    text-align: center;
}

.navbar h2 {
  font-size: 50px;
  text-wrap: nowrap;
  padding: 10px;
}

.map {
  width: 100%;
  height: 500px;
  float: right;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

.page-title {
  text-align: center;
  margin: 50px 0px 50px 0px;
  font-size: 5rem;
  text-decoration: underline;
}

p {
  text-align: center;
  margin: 10px;
}

.aboutme {
  grid-row-end: span 2;
}

#disco {
  width: 500px;
}

.gallery {
  width: 100vw;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  justify-content: space-evenly;
}

/*Selects all img tags whos parent element has gallery class*/
.gallery > img {
  width: 100%;
  height: auto;
  padding: 5%;
}

.article-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  display: grid;
  grid-template-columns: auto auto;
  color: white;
  width: min(95%, 1000px);
  height: auto;
  background-color: #1E1E1E;
  margin: 50px;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.article > img {
  width: 100%;
}

.article h2, h3, h4, p {
  text-align: center;
  margin: 10px;
}


@media (max-width: 800px) {
  
  .section-image {
    display: none;
  }

  #AboutMe {
  display: grid;
  grid-template-columns: 100%;
  background-image: url(Media/Moon\ Glass\ Window\ Background.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

  #Blog {
  display: grid;
  grid-template-columns: 100%;
  background-image: url(Media//Beer\ Girls\ Porn\ Background.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

#Splash {
  background-image: url(Media/Amalie\ Collage.png);
  background-repeat: repeat;
  background-position: center;
  display: block;
  background-size: cover;
  justify-content: center;
  align-content: center;
}

#Avatar {
  border: white;
  border-style: solid;
  border-radius: 100%;
  width: 60vw;
  margin: auto;
}

#Splash h1 {
  /* Clamp function syntax: Min size, preferred size, max size. +1 rem is so that it can be zoomed for accessability.*/
  font-size: clamp( 1.8rem , 12vw + 1rem, 7.5rem);
  text-wrap: wrap;
  text-align: center;
  margin: 50px 1%;
  padding: 0px 1rem;
}

.gallery {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

}