* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #EDEDE7;
}

.splash-regular {
    font-family: "Splash", cursive;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 150px;
    text-align: center;
}